body {
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
}

/* Hide scrollbar for clean mobile look */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Custom Date Input Overlay */
.custom-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

/* Utility to ensure full height */
html,
body {
    height: 100%;
    margin: 0;
}